{% extends 'base.html' %}
  {% block content %}
    <div class="card text-center">
      <div class="card-header">
        Список должностей
      </div>
      <div class="card-body">
        <h5 class="card-title">Список должностей</h5>
          <div class="container">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Должность</th>
                      <th scope="col">Категория</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for position in page %}
                      <tr>
                        <th scope="row">{{ position.1 }}</th>
                        <td>{{ position.2 }}</td>
                        <td>
                          <a href="{% url 'edit_position' position_id=position.0 %}" type="button" class="btn btn-warning">Изменить</a>
                          <a href="{% url 'delete_position' position_id=position.0 %}" type="button" class="btn btn-danger" value="Delete">Удалить</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
          {% include "includes/paginator.html" with items=page paginator=paginator %}
        <a href="{% url 'new_position' %}" type="button" class="btn btn-primary">Добавить должность</a>
    </div>
  {% endblock %}

